<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>ServletFilter</display-name>
	<servlet>
		<servlet-name>test</servlet-name>
		<servlet-class>com.khadri.servlet.TestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>test</servlet-name>
		<url-pattern>/test/hit</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>myFilter</filter-name>
		<filter-class>com.khadri.servlet.filter.ServletFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>myFilter</filter-name>
		<url-pattern>/test/*</url-pattern>
	</filter-mapping>
</web-app>