<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>HandlingGetPost</display-name>
	<servlet>
		<servlet-name>handle1</servlet-name>
		<servlet-class>com.khadri.servlet.method.GetHandlingMethodServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>handle1</servlet-name>
		<url-pattern>/hit1</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>handle2</servlet-name>
		<servlet-class>com.khadri.servlet.method.PostHandlingMethodServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>handle2</servlet-name>
		<url-pattern>/hit2</url-pattern>
	</servlet-mapping>
	
	
	

</web-app>