<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>FoodWebApp</display-name>
	<servlet>
		<servlet-name>breakFast</servlet-name>
		<servlet-class>BreakFastServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>breakFast</servlet-name>
		<url-pattern>/getTiffen</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>lunch</servlet-name>
		<servlet-class>LunchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>lunch</servlet-name>
		<url-pattern>/getMeals</url-pattern>
	</servlet-mapping>
	
	
	
	
	<servlet>
		<servlet-name>dinner</servlet-name>
		<servlet-class>DinnerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>dinner</servlet-name>
		<url-pattern>/getBiryani</url-pattern>
	</servlet-mapping>
</web-app>