<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>SessionAttribute</display-name>
	<servlet>
		<servlet-name>abc</servlet-name>
		<servlet-class>CreateSessionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>abc</servlet-name>
		<url-pattern>/newSession</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>xyz</servlet-name>
		<servlet-class>SessionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>xyz</servlet-name>
		<url-pattern>/checkInSession</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>pqr</servlet-name>
		<servlet-class>InvalidateSessionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>pqr</servlet-name>
		<url-pattern>/invalidate</url-pattern>
	</servlet-mapping>
</web-app>